name: build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    types: [ opened, synchronize ]

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/serenity-js/playwright:v1.58.1-noble
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: actions/setup-node@v6
        with:
          node-version: '24.13.1'
      - name: Setup Node Modules
        uses: bahmutov/npm-install@v1
      - name: Run Playwright tests
        run: npm test
      - uses: actions/upload-artifact@v6
        if: always()
        with:
          name: serenity-report
          path: target/site/serenity
          retention-days: 30

      - name: GitHub Pages
        if: github.ref == 'refs/heads/main'
        uses: JamesIves/github-pages-deploy-action@v4.8.0
        with:
          branch: gh-pages
          folder: target/site
          clean: true
